body.login {
  background-image: url("../imagenes/image5.png");
  background-size: cover;
}

.login-container {
  width: 300px;
  margin: 150px auto;
  padding: 20px;
  background-color: rgba(60, 60, 60, 0.4);
  border-radius: 10px;
  border: 0.1px solid #ffffff;
  box-shadow: 0 0 20px rgba(60, 60, 60, 10);
}

.login-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 36px;
  color: #fff;
  font-family: 'Noto Sans';
}

.login-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-form label {
  font-size: 16px;
  color: #fff;
  font-family: 'Noto Sans';
}

.login-form input {
  border-radius: 12px;
  background-color: rgba(60, 60, 60, 0);
  border: 0.1px solid #ffffff;
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.login-form input[type="submit"] {
  border-radius: 12px;
  background: linear-gradient(90.57deg, #628eff, #8740cd 53.13%, #580475);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 14px 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: 'Noto Sans';
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.olvidadaste-tu-contrasea,
.no-tienes-una {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Noto Sans';
  color: #fff;
}

.olvidadaste-tu-contrasea a,
.no-tienes-una a {
  color: #fff;
}

@media screen and (max-width: 480px) {
  .login-container {
    width: 90%;
    margin: 50px auto;
    padding: 10px;
  }

  .login-title {
    font-size: 24px;
  }

  .login-form label {
    font-size: 14px;
  }

  .login-form input {
    font-size: 14px;
  }

  .links {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .olvidadaste-tu-contrasea {
    display: none;
  }
}


  