* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: #083900;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}




.header h1 {
  font-size: 24px;
  color: #FFF;
}

.logo {
  width: 140px;
  height: 100px;
  margin-right: 10px;



}
#home{
  width: 100%;
  height: 90%;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.sidebar {
  background: #3ff61e;
  padding: 20px;
  flex: 0 0 250px;
  opacity: 90%;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  color: #FFF;
  text-decoration: none;
}

.nav-button {
  display: block;
  padding: 10px;
  background: #083900;
  /*font-family:'Courier New', Courier, monospace;*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-style:unset;

  border-radius: 5px;

}
.nav-button:hover{
  background-color: #010101;

}

.nav :hover {
  background: #FFF;;

}




.content-container {
  flex: 1;
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  padding: 5px;
  width: 100%;
}

.search-container button {
  padding: 5px 10px;
  background: #333;
  color: #FFF;
  border: none;
  cursor: pointer;
}

.footer {
  background: #7B5D41;
  color: #FFF;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
}
.intro{
  display: inline-block;
 left: 260px;
 width: 330px;
  text-align: right;
}
.textintro{
  position: relative;
  display:inline-block;

  left: 5%;
  width:55%;
}
.intro1 {
  width: 260px;
  height: 200px;
  margin-right: 10px;



}
.intro2 {
  width: 260px;
  height: 260px;
  margin-right: 10px;



}
h2{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:44px;
}
p{
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}